@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color: #8e44ad;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0,0,0,0.7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
    --text-shadow: 0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    /* -webkit-user-drag: none;
    user-drag:none; */
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--main-color);
}

html::-webkit-slider-thumb{
    background-color: var(--main-color);
}

@keyframes fadeIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.highlight {
    background-color: yellow; /* Change background color on hover */
    color: var(--black);
}

.highlight:hover {
    color: black !important;
    font-size: 3rem;
}

.increase{
    font-size: 3rem;
    color: black;
}

#accessibility-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #848181;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: pointer;
  }
  
#accessibility-btn img {
    width: 60px;
    height: 60px;
}

.warning-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    background-color: #ffcccc;
    padding: 20px;
    border: 1px solid #ff6666;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}

.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--main-color);
}

section{
    padding: 5rem 10%;
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .navbar{
    display: flex;
}

.header img{
    height: 5rem;
    width: 35rem;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar .dropdown{
    overflow: hidden;
}

.header .navbar .dropdown .dropbtn {
  display: block;
  border: none;
  outline: none;
  color: black;
  font-size: 2rem;
  padding-left: 2rem;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.header .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.header .navbar .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header .navbar .submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 0;
    left: 100%;
}

.header .navbar .dropdown-content a, .header .navbar .submenu-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header .navbar .dropdown-content a:hover {
    background-color: #ddd;
    color: #8e44ad;
}
  
  /* Show the dropdown menu on hover */
.header .navbar .dropdown:hover .dropdown-content {
    display: block;
}

.header .navbar .submenu:hover .submenu-content {
    display: block;
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}


.home{
    padding: 0;
}

.home .slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}

.home .slide .content{
    width: 85rem;
    display: none;
    background: rgba(0,0,0, 0.3);
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--white);
    padding-bottom: 1rem;
    animation: fadeIn .4s linear backwards .2s;
}

.home .slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn .4s linear backwards .4s;
}

.home .slide .content .btn{
    animation: fadeIn .4s linear backwards .6s;
}

.home .swiper-button-next,
.home .swiper-button-prev{
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 7rem;
    width: 7rem;
    background: var(--white);
    color: var(--black);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    background: var(--main-color);
    color: var(--white);
}
.home .swiper-button-next::after,
.home .swiper-button-prev::after{
    font-size: 2rem;
}

.home .swiper-button-prev{
    right: 7rem;
}



.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 1.5rem;
}

.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--main-color);
    cursor: pointer;
}

.services .box-container .box:hover{
    background: var(--black);
}

.services .box-container .box img{
    height: 8rem;
    width: 8rem;
}

.services .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image{
    flex: 1 1 41rem;
}

.home-about .image img{
    width: 100%;
}

.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
}

.home-about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.home-about .content p{
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 2;
    color: var(--black);
}

.home-packages{
    background: var(--light-bg);
}

.home-packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}

.home-packages .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.home-packages .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}

.home-packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-packages .box-container .box .content{
    padding: 2rem;
}

.home-packages .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.home-packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.home-packages .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.home-packages .load-more{
    text-align: center;
    margin-top: 2rem;
}

.home-offer{
    text-align: center;
}

.home-offer .content{
    max-width: 50rem;
    margin: 0 auto;
}

.home-offer .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}

.home-offer .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .image{
    flex: 1 1 41rem;
}

.about .image img{
    width: 100%;
}

.about .map iframe{
    border-radius: 2rem;
    border: var(--black);
    box-shadow: purple;
    border-width: 5rem;
}

.about .content{
    flex: 1 1 41rem;
    text-align: center;
}

.about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.about .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}

.about .content .icons-container .icons{
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 16rem;
}

.about .content .icons-container .icons i{
    font-size: 4rem;
    margin-top: 1rem;
    color: var(--main-color);
}

.about .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--light-black);
    display: block;
}


.about .book-form{
    padding: 2rem;
    background: var(--light-bg);
}

.about .book-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .book-form .flex .inputBox{
    flex: 1 1 41rem;
}

.about .book-form .flex .inputBox input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.about .book-form span{
    font-size: 1.5rem;
}

.about .book-form .btn{
    margin-top: 2rem;
}


.reviews{
    background: var(--light-bg);
}

.reviews .header-review{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: var(--black);
    
}

.reviews .slide{
    padding: 2rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
}

.reviews .slide .stars{
    padding-bottom: .5rem;
}

.reviews .slide .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.reviews .slide p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.reviews .slide h3{
    font-size: 2rem;
    color: var(--black);
}

.reviews .slide span{
    font-size: 1.5rem;
    color: var(--main-color);
    display: block;
    padding: .5rem;
    
}

.reviews .slide img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.events .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}

.events .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.events .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}

.events .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.events .box-container .box .content{
    padding: 2rem;
}

.events .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.events .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.events .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.events .load-more{
    text-align: center;
    margin-top: 2rem;
}


/*Cuisine*/
.cuisine .box-container{
    display: inline-block;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 5rem;
}

.cuisine .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    margin-bottom: 3rem;
    
}

.cuisine .box-container .box .image{
    height: 40rem;
    overflow: hidden;
}

.cuisine .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.cuisine .box-container .box .content{
    padding: 2rem;
}

.cuisine .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.cuisine .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.cuisine .box-container .box .content p{
    font-size: 1.7rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.cuisine .box-container .box .content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style the list items */
.cuisine .box-container .box .content ul li {
    font-size: 1.5rem;
    position: relative;
    display: inline;
    padding-left: 2.5rem; /* Adjust the spacing of the list items */
    margin-bottom: 0.5rem; /* Adjust the vertical spacing between list items */
    color: var(--light-black);
}

/*Decorations*/
.deco .box-container{
    display: inline-block;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 5rem;
}

.deco .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    margin-bottom: 3rem;
    
}

.deco .box-container .box .image{
    height: 40rem;
    overflow: hidden;
}

.deco .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.deco .box-container .box .content{
    padding: 2rem;
}

.deco .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.deco .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.deco .box-container .box .content p{
    font-size: 1.7rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.deco .box-container .box .content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style the list items */
.deco .box-container .box .content ul li {
    font-size: 1.5rem;
    position: relative;
    display: inline;
    padding-left: 2.5rem; /* Adjust the spacing of the list items */
    margin-bottom: 0.5rem; /* Adjust the vertical spacing between list items */
    color: var(--light-black);
}

.booking p{
    font-size: 2rem;
    text-align: center;
}

.booking .book-form{
    padding: 2rem;
    background: var(--light-bg);
}

.booking .book-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.booking .book-form .flex .inputBox{
    flex: 1 1 41rem;
}

.booking .book-form .flex .inputBox input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.booking .book-form .flex .inputBox select{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}



.booking .book-form .flex .inputBox input:focus::placeholder{
    color: var(--light-black);
}

.booking .book-form .flex .inputBox span{
    font-size: 1.5rem;
    color: var(--black);
}

.booking .book-form .btn{
    margin-top: 2rem;
}

.booking .book-form .flex .inputBox .time-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 1rem; /* Adjust the gap between buttons as needed */
}

.booking .book-form .flex .inputBox .time-btn {
    padding: 1rem 1.5rem; /* Adjust padding as needed */
    font-size: 1.6rem;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--light-bg); /* Match background color with other components */
    border: var(--border); /* Match border style with other components */
    cursor: pointer;
}

.booking .book-form .flex .inputBox .time-btn:hover {
    background-color: var(--primary-color); /* Change background color on hover */
    color: var(--light-black); /* Change text color on hover */
    border-color: var(--light-black);
}

.booking .book-form .flex .inputBox .time-btn:focus {
    outline: none; /* Remove default focus outline */
}

.booking .book-form .flex .inputBox .time-btn.selected {
    background-color: var(--primary-color); /* Change background color */
    color: var(--main-color); /* Change text color */
    border-color: #8e44ad;
    border-width: .2rem;
    font-weight: bold;
    
}























.footer{
    background: url(../images/background2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i{
    color: var(--light-white);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
}











/*Media quereies*/

@media (max-width:1200px){

    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    section{
        padding: 3rem 5%;
    }

    .home .slide .content h3{
        font-size: 10vw;
    }
}

@media (max-width:768px){

    .about iframe{
        height: 80%;
        width: 90%;
    }

    .heading h1{
        font-size: 5rem;
    }

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    
    .header .navbar .dropdown .dropbtn{
        display: inline-block;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        display: inline;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar .dropdown{
        text-align: center;
        vertical-align: middle;
    }

    .header .navbar .dropdown:hover .dropdown-content{
        display: inline-block;
        z-index: inherit;
    }

    .header .navbar .submenu .submenu-content{
        z-index: inherit;
    }

    .header img{
        height: 5rem;
        width: 30rem;
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading-title{
        font-size: 3.5rem;
    }
}

